:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

:root {
  font-size: 24px;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@media (max-width: 1024px) {
  :root {
    font-size: 24px;
  }

  .intro-page > div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }

  .intro-page > div > .intro-card:nth-child(2n + 1) {
    justify-self: end;
  }

  .intro-page > div > .intro-card:nth-child(2n) {
    justify-self: start;
  }

  .card img {
    height: 160px;
    width: auto;
  }

  .card:hover {
    transform: scale(1);
  }
  
  .card {
    transition: transform 0s ease;
  }
  
  .game .main.easy {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
  }
  
  .game .main.medium {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
  }
  
  .game .main.hard {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0px;
  }
  
  .game .main.extreme {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0px;
  }
  
  .game > .score-board {
    margin-top: 20px;
  }
  
  .game .instructions {
    font-size: 1rem;
    margin: 0px;
  }

}

@media (max-width: 800px) {
  :root {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  :root {
    font-size: 14px;
  }

  #root {
    padding: 0px;
  }

  .intro-page > div {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 0px;
    row-gap: 0px;
  }

  .intro-page > div > .intro-card:nth-child(n) {
    justify-self: center;
  }

  .card img {
    height: 130px;
    width: auto;
  }

  .card:hover {
    transform: scale(1);
  }
  
  .card {
    transition: transform 0s ease;
  }
  
  .game .main.easy {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0px;
  }
  
  .game .main.medium {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0px;
  }
  
  .game .main.hard {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0px;
  }
  
  .game .main.extreme {
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(8, 120px);
    gap: 0px;
  }

}
