:root {
  --light-intro-green: rgb(34, 192, 2);
  --light-intro-yellow: rgb(209, 206, 39);
  --light-intro-orange: rgb(192, 116, 2);
  --light-intro-red: rgb(192, 4, 4);
  --dark-intro-green: rgb(62, 114, 51);
  --dark-intro-yellow: rgb(128, 126, 40);
  --dark-intro-orange: rgb(128, 86, 23);
  --dark-intro-red: rgb(112, 28, 28);
}

.intro-page div {
  display: flex;
  justify-content: space-around;
}

.intro-page h1 {
  font-size: 3rem;
  margin: 0;
  user-select: none;
}

.intro-page h2 {
  font-size: 1.8rem;
  margin-top: 20px;
  user-select: none;
  margin-bottom: 10px;
}

.intro-card:hover {
  transform: scale(1.02);
  background-color: rgb(34, 192, 2, 0.3);
}

.intro-card .img-div {
  height: 70%;
}

.intro-card img {
  height: auto;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.intro-card p {
  font-size: 2rem;
  font-weight: 300;
  margin: 0px;
  height: 30%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  user-select: none;
}

.intro-page > div > div:nth-child(1) p {
  background-color: var(--dark-intro-green);
}

.intro-page > div > div:nth-child(2) p {
  background-color: var(--dark-intro-yellow);
}

.intro-page > div > div:nth-child(3) p {
  background-color: var(--dark-intro-orange);
}

.intro-page > div > div:nth-child(4) p {
  background-color: var(--dark-intro-red);
}

.intro-card {
  height: 10rem;
  width: 12.5rem;
  display: flex;
  flex-direction: column;
  margin: 15px;
  border-radius: 10px;
  box-sizing: border-box;
  justify-content: flex-start;
}

@media (prefers-color-scheme: light) {

  .intro-page > div > div:nth-child(1) p {
    color: white;
    background-color: var(--light-intro-green);
  }

  .intro-page > div > div:nth-child(2) p {
    color: white;
    background-color: var(--light-intro-yellow);
  }

  .intro-page > div > div:nth-child(3) p {
    color: white;
    background-color: var(--light-intro-orange);
  }

  .intro-page > div > div:nth-child(4) p {
    color: white;
    background-color: var(--light-intro-red);
  }

}